<h2 class="mt-3">Listado de Proyectos</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Inicio</th>
      <th scope="col">Término</th>
      <th scope="col">Estado</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
        <tr>    
          <th scope="row"><%= project.id %></th>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start %></td>
          <td><%= project.end %></td>
          <td><%= project.state %></td>
          <td>
          <% if project.state == 1 %> 
                  Propuesta
              <% elsif project.state == 2 %>
                  En Progreso
              <% else %>
                  Terminado
              <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>